---
---

$header-bg-color-secondary: #2575fc;
$header-bg-color: #6a11cb;
$section-headings-color: #2575fc;
$header-heading-color: #fff;

@import "{{ site.theme }}";

a.link-no-style {
    color: inherit;
  }

a.fa-icon-style {
    color: #2575fc;
    opacity: 1.0;
    text-decoration: none;
}

.page-header {
    padding: 0.5rem 0.5rem; }

.btn {
    color: inherit;
    opacity: 0.9;
}

.project-tagline {
    opacity: 0.9;
}

.site-footer {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: solid 2px $hr-border-color;
}

.main-content {

@include large {
    max-width: 72rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

}