---
---

$header-bg-color-secondary: transparent;
$header-bg-color: transparent;
$section-headings-color: #002fa7;
$header-heading-color: #002fa7;

@import "{{ site.theme }}";

a:link {
    color: #002fa7;
}

a:visited {
    color: #002fa7;
}

a:hover{
    color: #606c71;
    text-decoration: none;
    opacity: 0.5;
}

a.link-no-style {
    color: #002fa7;
  }

a.fa-icon-style {
    color: #002fa7;
    opacity: 1.0;
    text-decoration: none;
}

.page-header {
    font-family: "Amiri";
    padding: 0.25rem 0.25rem;
    padding-bottom: 0px;
    // border-bottom: solid 2px $hr-border-color;
}

.btn {
    color: #002fa7;
    text-decoration: underline;
    border: transparent;
    opacity: 1.0;
    background: transparent;
    font-size: 1.2rem;
}

.btn:hover {
    color: #606c71;
    text-decoration: underline;
    background: transparent;
    border: transparent;
    opacity: 0.5;
  }

  .btn:active {
    color: #606c71;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    opacity: 0.5;
  }

.project-tagline {
    opacity: 0.9;
}

.site-footer {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: solid 1px $hr-border-color;
}

.main-content {
    font-family: 'Amiri', serif;

@include large {
    max-width: 72rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

}
